<!DOCTYPE html>
<html lang="en">
      <%= if @current_user do %>
        <h2>Welcome, <%= @current_user.name %>!</h2>
        <img src="<%= @current_user.avatar %>" class="img-circle"/>
        <%= link "Logout", to: SandwarWeb.Router.Helpers.auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <br>
        <br>

        <a class="btn btn-primary btn-lg" href="<%= SandwarWeb.Router.Helpers.auth_path @conn, :index, "github" %>">
          <i class="fa fa-github"></i>
          Sign in with GitHub
        </a>

      <% end %>
</html>
