<div class="container">
  <div class="columns">
    <div class="column">
      <p class="subtitle">Player: <%= @player_id %></p>
      <p class="subtitle">Player: <%= @counter %></p>
    </div>
  </div>

</div>
